<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styl.css"> #this tag links css to html
    <title>
      Fortune Teller
    </title>
  </head>
  <body>
    <h1>Get a Fortune</h1>
    <h4>What is your name?  </h4>
    <form method=POST>
      <input type="text" name="user">
      <br>
      <input type ="submit" value="GET YOUR FORTUNE">
    </form>
  </body>
  
  
  </html>